<!-- Primary Header Modal -->
<div
  id="primary-header-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="primary-header-modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header modal-colored-header bg-primary">
        <h4 class="modal-title" id="primary-header-modalLabel">Create Post</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >×</button>
      </div>
      <div class="modal-body">
        <form id="form-create-post">
          {{! Title input }}
          <div class="form-group mb-3">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" name="title" />
          </div>
          {{! Category input }}
          <div class="form-group mb-3">
            <label for="category">Category</label>
            <select class="form-control" id="category" name="category">
              <option>Healthy</option>
              <option>Actions</option>
            </select>
          </div>
          {{! Logo input }}
          <div class="form-group mb-3">
            <label for="logo">Logo</label>
            <input type="text" id="logo" class="form-control" name="logo" />
          </div>
          {{! Content input }}
          <div class="form-group mb-3">
            <label for="example-textarea">Content</label>
            <textarea
              class="form-control"
              id="content"
              rows="5"
              name="content"
            ></textarea>
          </div>
          {{! Image background input }}
          <div class="form-group mb-3">
            <label for="image">Image background</label>
            <input type="text" id="image" class="form-control" name="image" />
          </div>
          {{! Author input }}
          <div class="form-group mb-3">
            <label for="author">Author</label>
            <input type="text" id="author" class="form-control" name="author" value={{user.name}} />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          data-dismiss="modal"
        >Close</button>
        <button type="button" id="button-save" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $(document).ready(function () {
    $("#button-save").click(function () {
      let title = $("#title").val();
      let category = $("#category").val();
      let logo = $("#logo").val();
      let content = $("#content").val();
      let image = $("#image").val();
      let author = $("#author").val();
      let data = {
         title,
        category,
         logo,
         content,
         image,
         author
        }
      $.ajax('/api/posts',{
        'data': JSON.stringify(data),
        'type': "POST",
        'headers': {Authorization: 'Bearer '+ localStorage.getItem('token')},
        'contentType': 'application/json',
        success: function () {
           location.reload();
           $('#primary-header-modal').modal('hide');
        },
      });
    });
  });
</script>