// Start Page title
.row
  .col-12
    .page-title-box
      .page-title-right
        ol.breadcrumb.m-0
          li.breadcrumb-item
            a(href="javascript: void(0);") Hyper
          li.breadcrumb-item
            a(href="javascript: void(0);") UI Kit
          li.breadcrumb-item.active #{ title }
      h4.page-title #{ title }
// End Page title
