// bundle
script(src="/assets/js/vendor.min.js")
script(src="/assets/js/app.min.js")
// plugin js
script(src="/assets/js/vendor/summernote-bs4.min.js")
// Summernote demo
script(src="/assets/js/pages/demo.summernote.js") 
    