<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu left-side-menu-detached">

  <div class="leftbar-user">
    <a href="javascript: void(0);">
      <img
        src="/assets/images/users/avatar-1.jpg"
        alt="user-image"
        height="42"
        class="rounded-circle shadow-sm"
      />
      <span class="leftbar-user-name">Dominic Keller</span>
    </a>
  </div>

  <!-- Start Sidebar -->
  <ul class="metismenu side-nav">

    <li class="side-nav-title side-nav-item">Post</li>
    <li class="side-nav-item">
      <a href="javascript: void(0);" class="side-nav-link">
        <i class="uil-copy-alt"></i>
        <span> Posts </span>
        <span class="menu-arrow"></span>
      </a>
      <ul class="side-nav-second-level mm-collapse" aria-expanded="false">
        <li>
          <a href="/api/posts/getAllPosts">All posts</a>
        </li>
      </ul>
    </li>
    <li class="side-nav-item">
      <a href="javascript: void(0);" class="side-nav-link">
        <i class="uil-copy-alt"></i>
        <span> Categories </span>
        <span class="menu-arrow"></span>
      </a>
      <ul class="side-nav-second-level mm-collapse" aria-expanded="false">
        <li>
          <a href="/api/categories/getAllCategories">All categories</a>
        </li>
      </ul>
    </li>
    <li class="side-nav-item">
      <a href="/common/chart" class="side-nav-link">
        <i class="uil-chart"></i>
        <span> Chart </span>
        <span class="menu-arrow"></span>
      </a>
    </li>
    <li class="side-nav-item">
      <a href="/common/form" class="side-nav-link">
        <i class="uil-chart"></i>
        <span> Form </span>
        <span class="menu-arrow"></span>
      </a>
    </li>
  </ul>
  <!-- End Sidebar -->

  <div class="clearfix"></div>
  <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->